.button {
    font: inherit;
    border: 1px solid #00ffd0;
    background: #00ffd0;
    color: rgb(0, 0, 0);
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #00ffd0;
    border-color: #00ffd0;
  }
  
  .button:focus {
    outline: none;
  }